@import "settings";

@import "foundation";

$helvetica-neue-stack: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$negative-bar: rgb(240, 126, 110);
$negative-bar-hover: #C8695B;
$positive-bar: rgb(140, 140, 140);
$positive-bar-hover: rgba(0, 0, 0, 0.8);
$rect-hover: black;
$tooltip-background: $positive-bar-hover;
$tooltip-negative-background: $negative-bar-hover;
$tooltip-text-color: white;

/*
 * Full-page application style
 */

.engine-room.application {
  background: #ffffff;
  padding: 60px 20px 0;
  line-height: 1.2;
  font-family: $helvetica-neue-stack;
}
.engine-room.application > .container {
  padding-left: 0;
  padding-right: 0;
}
.engine-room.application div[class="columns"] {
  padding-left: 5px;
  padding-right: 5px;
}
.engine-room.application div[class="columns"] div[class="columns"] {
  padding-left: 15px;
  padding-right: 15px;
}

.engine-room.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.engine-room.application h3 {
  color: #484848;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

.return-link, .return-link:focus, .return-link:hover {
  text-decoration: none;
}

.chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 10px;

    .chart-title {
        border-bottom: 1px solid #d7d7d7;
        color: #666;
        font-size: 14px;
        font-weight: 200;
        padding: 7px 10px 4px;
    }

    .chart-stage {
        /*min-height: 240px;*/
        overflow: hidden;
        padding: 5px 10px;
        position: relative;
    }

    .chart-notes {
        background: #fbfbfb;
        border-top: 1px solid #e2e2e2;
        color: #808080;
        font-size: 12px;
        padding: 8px 10px 5px;
    }
}

// D3 charts

.legend {
  font-size: 12px;
}

.axis {
    font-size: 12px;

    line, path {
        stroke: #000;
        fill: none;
    }

    &.transparent {
        path {
            stroke: none;
        }
    }
}

.bar {
    fill: $positive-bar;

    &:hover {
        fill: $positive-bar-hover;
    }

    &.negative {
        fill: $negative-bar;
        &:hover {
            fill: $negative-bar-hover;
        }
    }
}

rect.square:hover {
    stroke: $rect-hover;
    stroke-width: 2;
}

.baseline-line {
    stroke: rgb(140, 140, 140);
}

text.graph-label {
  fill: #fff;
  font-size: 12px;
  text-anchor: middle;
}

path.group {
  stroke: #fff;
  stroke-width: 0.3;
}

path.line {
  fill: none;
  stroke-width: 4;
  stroke-linecap: butt;
}

// D3 tooltips
.d3-tip {
    background-color: $tooltip-background;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    border-radius: 2px;
    z-index: 50;

    &.negative {
        background-color: $tooltip-negative-background;

        &:after {
            color: $tooltip-negative-background;
        }
    }

    /* Creates a small triangle extender for the tooltip */
    &:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: $tooltip-background;
        position: absolute;
        pointer-events: none;
    }

    /* rightward tooltips - tooltip is to the right of content */
    &.right:after {
            content: "\25C0";
            margin: -4px 0 0 0;
            top: 50%;
            left: -8px;
    }

    /* leftward tooltips */
    &.left:after {
        content: "\25B6";
        margin: -4px 0 0 -1px;
        top: 50%;
        left: 100%;
    }

    /* top tooltip */
    &.top:after {
        content: "\25BC";
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
        text-align: center;
    }
}

.tooltip-text {
    color: $tooltip-text-color;
}